<br>
<h1 class="mt-5">Create a new cocktail</h1>

<%= simple_form_for [@cocktail] do |f| %>
  <%= f.input :name %>
  <%= f.input :photo, as: :file %>
  <%= f.submit "Create", :class => "btn btn-success" %>
  <%= link_to "Back", cocktails_path,:class => "btn btn-primary"%>
<% end %>

