
<br>

<h1 class="mt-5"><%= @cocktail.name.capitalize %></h1>
<%= image_tag "https://source.unsplash.com/500x300/?cocktail #{ @cocktail.name }", alt: "cocktail", width: 400, :class => "cocktail-img" %>

<h2 class="mt-2">Ingredients</h2>
<ul>
  <% @cocktail.doses.each do |dose| %>
    <li><%= dose.description %> - <%= dose.ingredient.name %>  <%= link_to icon("fas", "trash"), dose_path(dose), method: :delete, :class => "text-danger"%> </li>
  <% end %>
</ul>


<div class="d-flex">
  <%= link_to "Add a new dose", new_cocktail_dose_path(@cocktail), :class => "btn btn-success mx-2"%>
  <%= link_to "Back", cocktails_path, :class => "btn btn-primary" %>
</div>
